*{
  box-sizing: border-box;
}

.Container{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 20%;
}

.Container > button{
  font-size: 20px;
  background: linear-gradient(to top right, #d5ec8f 24%, #c7ea5d 40%, #b3da3d 73%);
  border: 1px solid #449528;
  border-radius: 2px;
  padding: 7px;
}

@media (max-width: 400px){
  .Container > button{
    padding: 11px;
  }
}