*{
  box-sizing: border-box;
}

.Digits{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.children{
  font-family: Lato;
  width: 33.3%;
  font-size: 20px;
  background: linear-gradient(to top right, #d5ec8f 24%, #c7ea5d 40%, #b3da3d 73%);
  border: 1px solid #449528;
  border-radius: 2px;
  padding: 5px;
}

.children:last-of-type{
  width: 100%;
}

*:focus{
  outline: none;
}

@media (max-width: 400px){
  .children{
    padding: 10px;
  }
}